@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
}

:root{
    // Colors 
    //Primary 
    --Dark-cyan: #3c8067;
    --Dark-cyan-hover:#1A4031;
    --Cream: #f2ebe3;
    
    // Neutral 
    --Very-dark-blue: rgb(28, 35, 43); 
    --Dark-grayish-blue: #6c7289; 
    --White: #ffffff;
    
    //Typography
    --Fraunces: 'Fraunces', serif;
    --Montserrat: 'Montserrat', sans-serif;
}