@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

:root {
  --Dark-cyan: #3c8067;
  --Dark-cyan-hover:#1A4031;
  --Cream: #f2ebe3;
  --Very-dark-blue: rgb(28, 35, 43);
  --Dark-grayish-blue: #6c7289;
  --White: #ffffff;
  --Fraunces: "Fraunces", serif;
  --Montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Cream);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px 0;
}

.card {
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 345px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.card__img {
  display: block;
  width: 100%;
  height: 236.15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__description {
  background-color: var(--White);
  padding: 26px 0;
}
.card__description--main {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 85%;
  margin: 0 auto;
}
.card__description--title {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--Dark-grayish-blue);
  font-family: var(--Montserrat);
}
.card__description--firstheading {
  font-size: 1.88rem;
  font-weight: 700;
  font-family: var(--Fraunces);
  text-transform: capitalize;
}
.card__description--firstheading br:nth-of-type(2) {
  display: none;
}
.card__description--paragraph {
  font-size: 0.88rem;
  color: var(--Dark-grayish-blue);
  line-height: 24px;
  font-family: var(--Montserrat);
  margin-bottom: 32px;
  letter-spacing: -0.045rem;
}
.card__description--cta {
  background-color: var(--Dark-cyan);
  color: var(--White);
  font-family: var(--Montserrat);
  text-decoration: none;
  display: inline-block;
  width: 294px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.6s;
}
.card__description--cta:hover, .card__description--cta:focus {
  background-color: var(--Dark-cyan-hover);
}
.card__description--ico {
  display: inline-block;
  padding-right: 8px;
}
.card__information {
  display: flex;
  align-items: center;
  gap: 26px;
}
.card__information--secondheading {
  color: var(--Dark-cyan);
  font-size: 1.88rem;
  font-family: var(--Fraunces);
}
.card__information--oldPrice {
  font-family: var(--Montserrat);
  font-size: 0.88rem;
  color: var(--Dark-grayish-blue);
  -webkit-text-decoration: line-through var(--Dark-grayish-blue);
          text-decoration: line-through var(--Dark-grayish-blue);
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 592px;
  }
  .card__main {
    padding: 0;
  }
  .card__picture {
    width: 46%;
  }
  .card__description {
    width: 54%;
    padding: 29px 0;
  }
  .card__description--main {
    max-width: 80%;
    gap: 21px;
  }
  .card__description--title {
    letter-spacing: 3px;
    font-size: 0.88rem;
  }
  .card__description--cta {
    width: 213px;
  }
  .card__description--firstheading br {
    display: none;
  }
  .card__description--firstheading br:nth-of-type(2) {
    display: none;
  }
  .card__description--paragraph {
    font-size: 0.95rem;
    line-height: 1.5rem;
    margin-bottom: 7px;
  }
  .card__description--cta {
    width: 100%;
  }
  .card__information {
    margin-bottom: 7px;
  }
  .card__img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=main.css.map */